:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #1abc9c;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #1abc9c;
    --bs-secondary: #2c3e50;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

body {
    font-family: cursive;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: var(--bs-white);
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--bs-secondary);
    color: var(--bs-white);
    padding-top: 20px;
    min-height: 90px;
    position: fixed;
    width: 100%;
}

header a {
    color: var(--bs-white);
    text-decoration: none;
    text-transform: uppercase;
}

header .tag {
    text-transform: none;
}

header a:hover {
    color: var(--bs-teal);
    transition: 0.2s ease;
}

header li {
    display: inline;
    padding: 0 20px;
}

header .name {
    float: left;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 25px;
}

/* showcase */
.showcase {
    background-color: var(--bs-teal);
    min-height: 300px;
    text-align: center;
    color: var(--bs-white);
    padding-bottom: 70px;
    padding-top: 8rem;
}

.showcase img {
    width: 20%;
    padding-top: 60px;
}

.showcase h1 {
    font-size: 60px;
    text-transform: uppercase;
}

.showcase li {
    display: inline;
    font-size: 23px;
    padding: 0 12px;
}

/* portfolio */

.portfolio {
    padding: 70px 0 80px 0;
}

.portfolio h1 {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.portfolio img {
    width: 30%;
    padding-bottom: 40px;
    border-radius: 8px;
}

.portfolio li {

    display: inline;
    padding: 0 10px;
}

/* about */

.about {
    background-color: var(--bs-teal);
    padding: 50px 0;
    text-align: center;
    color: var(--bs-white);
    padding-bottom: 70px;
}

.about h1 {
    font-size: 55px;
    padding: 10px 0;
}

.about p {
    font-size: 20px;
}

.about .paragraph_1 {
    float: left;
    width: 30%;
    padding-left: 15%;
}

.about .paragraph_2 {
    float: right;
    width: 30%;
    padding-right: 15%;
}

.about button {
    margin-top: 30px;
    padding: 20px 50px;
    font-size: 20px;
    background-color: var(--bs-teal);
    border: 2px solid var(--bs-white);
    color: var(--bs-white);
    border-radius: 8px;
    font-family: cursive;
}

.about button:hover {
    background-color: var(--bs-white);
    color: var(--bs-dark);
    border-color: var(--bs-white);
    transition: 0.4s ease;
}

/* contact */

.contact {
    text-align: center;
    padding: 0 15%;
    padding-top: 50px;
    padding-bottom: 60px;
}

.contact h1 {
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.contact form input,
textarea {
    width: 100%;
    padding: 12px 5px;
    margin: 10px auto;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    border-style: none;
    padding-bottom: 20px;
    border-bottom: 2px outset var(--bs-teal);
    font-family: cursive;
}

.contact form label {
    font-size: 20px;
    float: left;
}

.contact button {
    background-color: var(--bs-teal);
    border: 2px solid var(--bs-white);
    color: var(--bs-white);
    border-radius: 8px;
    font-family: cursive;
    padding: 10px 30px;
    font-size: 20px;
    float: left;
}

/* more */

.more {
    background-color: var(--bs-secondary);
    color: var(--bs-white);
    padding-bottom: 70px;
    min-height: auto;
    padding-top: 40px;
    margin-top: 40px;
}

.more .location {
    width: 30%;
    float: left;
    text-align: center;
    padding-right: 50px;
}

.more .location h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.more .location p {
    font-size: 18px;
}

.more .more_contact {
    width: 30%;
    float: left;
    text-align: center;
}

.more .more_contact h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.more .more_contact li {
    list-style: none;
    display: inline;
    padding-right: 10px;
}

.more .more_about {
    float: right;
    width: 30%;
    text-align: center;
}

.more .more_about h2 {
    font-size: 30px;
}

.more .more_about p {
    font-size: 18px;
}

/* footer */

footer {
    background-color: var(--bs-dark);
    color: var(--bs-white);
    padding: 15px 0;
}

footer p {
    text-align: center;
}

  /* media */

@media(max-width:768px) {
    header .name, nav{
        text-align: center;
    }
    .showcase h1{
        font-size: 40px;
    }
    .contact h1{
        font-size: 40px;
    }
    .portfolio h1{
        font-size: 40px;
    }
    .about h1{
        font-size: 40px;
    }
    .showcase li{
        font-size: 18px;
        display: block;
    }

    .portfolio img{
        width: 28%;
    }
    .more .location,.more .more_about, .more .more_contact{
        width: 100%;
        display: block;
        float: left;
        padding-bottom: 30px;
    }
}

@media (max-width: 545px){
    .showcase h1{
        font-size: 25px;
    }
    .contact h1{
        font-size: 25px;
    }
    .portfolio img{
        width: 25%;
    }
    .portfolio h1{
        font-size: 25px;
    }
    .about h1{
        font-size: 25px;
    }
    header .name{
        padding-left: 25px;
    }
    header nav{
        padding-bottom: 10px;
    }
    .showcase{
        padding-top: 10rem;
    }
}